{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Edit Document</h1>
        <hr>
        <form method="POST" >
            {% csrf_token %}
            <div class="form-group">
                <label for="documentId">Header:</label>
                <input type="text" class="form-control" id="documentId" value = "{{document.id}}" name="documentId" placeholder="" readonly required>
            </div>
            <div class="form-group">
                <label for="title">Header:</label>
                <input type="text" class="form-control" id="header" value = "{{document.header}}" name="header" placeholder="Enter document header" readonly required>
            </div>
            <div class="form-group">
                <label for="language">Language:</label>
                <select class="form-control" id="language" name="language" required>
                    {% for language in languages %}
                        {% if language == document.language %}
                            <option value="{{language.id}}" selected>{{language}}</option>
                    
                            {% else %}
                            <option value="{{ language.id }}">{{ language}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" id="category" name="category" required>
                    {% for category in allCategories %}
                        {% if category == document.category %}
                            <option value="{{category.id}}" selected>{{category}}</option>

                            {% else %}
                            <option value="{{ category.id }}">{{ category.title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
            
            <div class="form-group">
                {{form.media}}  
                {{form.as_p}}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.0/classic/ckeditor.js" defer></script>

    <script src = "{% static "core/js/edit-document.js" %}"></script>
</body>
</html>
